@font-face{
font-family:'Lato';
  src: url('../fonts/lato-regular.eot');
  src: url('../fonts/lato-regular.eot') format('embedded-opentype'), url('../fonts/lato-regular.woff2') format('woff2'), url('../fonts/lato-regular.woff') format('woff'), url('../fonts/lato-regular.ttf') format('truetype');
  font-weight: normal; }
