html, body {

background-color: #333 !important;

}

*, :after, :before {
  box-sizing: border-box;
  word-wrap: break-word;
}
a {
    text-decoration: underline;
    color: #000;
    transition: all .3s ease;
    text-decoration:none
}

.navbar-toggle {
  float: left;
  padding: 0 10px;
}

.navmenu {

  z-index: 1;
 -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;

}

.canvas {
  position: relative;
  left: 0px;
  z-index: 2;
  width: 100%;
  min-height: 100%;
  padding: 50px 0 0 0px;
  background: #333;
   -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
  border: solid 0px yellow;
}
.navbar-default {
    background-color: #333;
    border-color: #3c3c3c;
     -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
}
.navbar-default .navbar-toggle {
  border-color: #333;

}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
    background-color:#333
}
.navmenu-default .navmenu-nav>li>a, .navbar-default .navbar-offcanvas .navmenu-nav>li>a{
    color: #c5c5c5;
    font-family: Cambria,Georgia,Serif;
    text-transform: none
}

.nav>li>a { 
  font-size: 2.575rem;
  line-height: 50px;
  line-height: 3.125rem;
  padding-left:40px;
}
.navmenu-default .navmenu-nav>li>a:hover, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover{
    color: #fff;
}
.navbar-toggle .icon-bar {
  display: block;
  
  height: 4px;
  border-radius: 0px;
  border:none;  
}
.navbar-toggle .icon-bar {
  margin-top: 4px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
/* side bar and animation */
.bar {
  display: block;
  height: 5px;
  width: 30px;
  background-color: #c5c5c5; 
  margin: 5px auto;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}
.navbar-toggle.visible-xs { z-index: 3; }

.hidden-xs { display: none; }

.middle { margin: 0 auto; }

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.navbar-toggle.visible-xs .active .bar {
  background-color: #FFF;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.button.active .top {
  -webkit-transform: translateY(5px) rotateZ(45deg);
  -moz-transform: translateY(5px) rotateZ(45deg);
  -ms-transform: translateY(5px) rotateZ(45deg);
  -o-transform: translateY(5px) rotateZ(45deg);
  transform: translateY(5px) rotateZ(45deg);
}

.button.active .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

.button.active .middle { width: 0; }

.move-to-left {
  border: solid 1px red;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
}
.sidebar {
  height: 100%;
  width: 225px;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  background-color: #333;
}
.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  margin-top: 50px;
  text-align: left;
}

.sidebar-item {
  margin: 30px 0;
  opacity: 1;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}

.sidebar-item:first-child {
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
}

.sidebar-item:nth-child(2) {
  -webkit-transition: all .7s .4s ease-in-out;
  -moz-transition: all .7s .4s ease-in-out;
  -ms-transition: all .7s .4s ease-in-out;
  -o-transition: all .7s .4s ease-in-out;
  transition: all .7s .4s ease-in-out;
}

.sidebar-item:nth-child(3) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}
.sidebar-item:nth-child(4) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}
.sidebar-item:nth-child(5) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}
.sidebar-item:last-child {
  -webkit-transition: all .7s .8s ease-in-out;
  -moz-transition: all .7s .8s ease-in-out;
  -ms-transition: all .7s .8s ease-in-out;
  -o-transition: all .7s .8s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item.active {
  opacity: 1;
  color: #fff;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.sidebar-anchor {
  color: #c5c5c5;
  text-decoration: none;
  font-size: 1.7em;;
  font-family: Cambria,Georgia,Serif;
  text-transform: none;
  position: relative;
  padding-left: 40px;  
}
.sidebar-anchor:hover; .sidebar-anchor:hover{
  color: #fff;
}
.sidebar-anchor.active, .sidebar-anchor:active {
  color: #fff;   
}
.sidebar-anchor.visited, .sidebar-anchor:visit {
  color: #c5c5c5;   
}
.sidebar-anchor:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 40px;  
  background-color: #fff;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;  
}
/*----------------- */
.menu-container {
  width: 100%;
  position: relative;
  top: 0;
  padding: 26px 30px;
}
.deginix-logo{
   /* position: absolute;
  float: none;
  right: 30px;
  top: 23px;*/
   padding: 40px 20px 20px 30px;
  z-index: 5;
}
.deginix-logo p{
  font-size:39px;
  color: #80ced6;/*#66CDAA;*/
  line-height: 0.61em;
 
}
.deginix-logo span{
   font-size:11px;
  color: #c3c3c3;
  }
